body {
  font-size: 1em;
  font-family: "Roboto";
}
h1 {
  margin: 0;
  float: left;
  font-family: "Roboto Slab";
  font-size: 1.75em;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  margin: 0;
  float: left;
  font-family: "Roboto Slab";
  font-weight: normal;
  margin-bottom: 2.5px;
  font-size: 1.25em;
}

h3 + h3 {
  float: right;
  font-size: 1em;
}

h4 {
  margin: 0;
  font-weight: normal;
  clear: both;
}

ul {
  margin: 0;
  clear: both;
  padding-left: 25px;
}

section {
  clear: both;
  display: block;
  margin-bottom: 7.5px;
}

section h2 {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.tools {
  padding-left: 25px;

}

.contact {
  float: right;
  text-align: right;
}

.contact p {
  margin: 0;
}

.sub-section {
  margin-bottom: 5px;
}

